Checks: >
  -*-magic-numbers,
  -bugprone-switch-missing-default-case,
  -cert-dcl58-cpp,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-unused-template,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-default-arguments-calls,
  -misc-non-private-member-variables-in-classes,
  -readability-implicit-bool-conversion,
InheritParentConfig: true
