Checks: >
  *,
  -*-c-arrays,
  -*-magic-numbers,
  -*-named-parameter,
  -*-qualified-auto,
  -*-uppercase-literal-suffix,
  -altera-*,
  -bugprone-branch-clone,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -hicpp-no-array-decay,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
