Checks: >
  *,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -clang-analyzer-alpha.*,
  -clang-diagnostic-unneeded-internal-declaration,
  -clang-diagnostic-unused-macros,
  -clang-diagnostic-unused-template,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments*,
  -fuchsia-overloaded-operator,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-vararg,
  -llvm-header-guard,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
  -readability-static-accessed-through-instance,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
