# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-only

---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AttributeMacros:
  - SPAIX_ALWAYS_INLINE
BasedOnStyle: Mozilla
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - _Pragma
...
