Checks: >
  *,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-qualified-auto,
  -*-uppercase-literal-suffix,
  -altera-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-alpha.*,
  -clang-diagnostic-unused-macros,
  -clang-diagnostic-unused-template,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments*,
  -fuchsia-overloaded-operator,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
