# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-only

Checks: >
  *,
  -*-c-arrays,
  -*-named-parameter,
  -altera-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -fuchsia-overloaded-operator,
  -llvmlibc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
FormatStyle: file
HeaderFilterRegex: '.*\.[hi]pp$'
WarningsAsErrors: ''
