Checks: >
  *,
  -*-c-arrays,
  -*-named-parameter,
  -altera-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-overloaded-operator,
  -hicpp-no-array-decay,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
WarningsAsErrors: ''
HeaderFilterRegex: '.*\.[chi]pp$'
FormatStyle: file
