Checks: >
  *,
  -*-avoid-c-arrays,
  -*-named-parameter,
  -altera-*,
  -clang-diagnostic-unused-macros,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-overloaded-operator,
  -llvmlibc-*,
  -misc-no-recursion,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
