# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-only

Checks: >
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-macro-usage,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
