# Copyright 2020-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-only

Checks: >
  -*-vararg,
  -fuchsia-default-arguments-*,
  -llvm-header-guard,
  -misc-non-private-member-variables-in-classes,
InheritParentConfig: true
