Checks: >
  -*-magic-numbers,
  -*-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-default-arguments-*,
  -llvm-header-guard,
  -misc-non-private-member-variables-in-classes,
  -readability-implicit-bool-conversion,
InheritParentConfig: true
